form{
    background-color:#f9fbe7; 
    text-align: center;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 450px;
    height: 500px;
    justify-content: center;
    margin-left: 450px;
}